# DataScienceToolsand ecosytem

In this notebook, Data Science tools and Ecosystem are Summarized

Some of the Data Science Languages are:

1. Pyhton

2. R

3. SQL

Some of the commonly used Libraries by Data scientists are:

1. Matplotlib

2. Sci_kitLearn

3. GGplot

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|R Studio|
|VS Code|

### Below are the few examples of Evaluating Arithemetic Experssions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
(200)/60

3.3333333333333335

__Objectives__

List popular languages for Data Science 

+ Python
+ R
+ SQL
+ Scala
+ Julia

 ## Author
 Harmohit Singh